body {
    border: 0;
    padding: 0;
    margin: 0;
}

#stage {
    position: relative;
    background-color: rgb(142, 142, 142);  
    height: 100vh; 
    width: 100vw;
}

#foreground {
    position: absolute;
    width: 30vw;
    height: 30vw;

    left: calc(50vw - 30vw / 2 - 2vw);
    top: calc(50vh - 30vw / 2 - 2vw);

    background-color: red;
}

#middle {
    position: absolute;
    width: 30vw;
    height: 30vw;

    left: calc(50vw - 30vw / 2);
    top: calc(50vh - 30vw / 2);

    background-color: greenyellow;
}

#background {
    position: absolute;
    width: 30vw;
    height: 30vw;

    left: calc(50vw - 30vw / 2 + 2vw);
    top: calc(50vh - 30vw / 2 + 2vw);
    
    background-color: blueviolet;
}